.shop-title {
  color: var(--mainColor);
}

.shop-item-image {
  max-width: 20vw;
}

.shop-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2rem;
  max-width: 25vw;
  padding: 3rem;
  padding-bottom: 0.5rem;
  transition: transform 0.8s ease-in-out;
  z-index: 1;
}

.shop-item:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.shop-display {
  display: grid;

  grid-template-columns: 1fr 1fr;
  place-self: center;
}
.shop-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-name-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--mainFont);
  font-size: large;
  color: black;
}

.shop-item-name {
  border-bottom: 1px solid black;
  margin: 1rem;
}
.shop-item-price {
  border-bottom: 1px solid black;
  margin: 1rem;
}
/* Modal Information */
.shop-modal-container {
  display: flex;
  justify-content: center;
}
.shop-modal {
  padding: 5px;
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
}
.modal-image {
  place-self: center;
  max-width: 80%;
  grid-column: 2/-1;
  grid-row: 1/3;
  border-radius: 20px;
}
.modal-name {
  grid-column: 2;
  grid-row: 1;
}
.modal-name-price-description {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.modal-quantity {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}
